.footer {
    &-top {
        padding: 173px 0 177px;
        background-color: map-deep-get($colors, 'base', 'body');
        @include media('<=desktop-md') {
            padding: 123px 0 127px;
        }
        @include media('<=tablet-sm') {
            padding: 191px 0 194px;
        }
        @include media('<=phone-lg') {
            padding: 96px 0 100px;
        }
        .h2 {
            font-size: 50px;
            color: #fff;
            margin-bottom: 35px;
            @include media('<=phone-lg') {
                margin-bottom: 34px;
                line-height: 1.2;
                font-size: 40px;
            }
            @include media('<=phone-md') {
                font-size: 30px;
            }
        }
    }
    &-bottom {
        .footer-bottom-pannel {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 35px;
            @include media('<=phone') {
                flex-direction: column;
                padding: 36px 20px;
            }
        }
        .copyright {
            font-size: 15px;
            line-height: 22px;
            text-transform: uppercase;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            @include media('<=phone') {
                position: static;
                transform: none;
                order: 3;
            }
            p {
                text-align: center;
                text-transform: none;
                font-size: 12px;
                color: rgba(0, 0, 0, 0.7);
                margin: 0;
                @include media('<=phone') {
                    text-align: center !important;
                }
            }
        }
        .list-lang-switch {
            @include media('<=phone') {
                order: 2;
                margin-bottom: 39px;
            }
            .active {
                font-weight: bold;
            }
        }
        .list-social {
            @include media('<=phone') {
                order: 1;
                margin-right: 0;
                margin-bottom: 31px;
            }
        }
    }
}