$header-animation-time: 0.5s;
body.navbar-opened {
    @include media('<tablet-lg') {
        overflow: hidden;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background $header-animation-time ease, box-shadow $header-animation-time ease;
    @include media('<tablet-lg') {
        background: #fff;
        &.scrolled {
            box-shadow: 0 1px 4px 0 #eee;
        }
    }
}

.header-container { 
    @include flex-centering(flex-end);
    position: relative;
    max-width: 1720px;
    padding: 20px;
    margin: auto;
}



.close-btn {
    display: none;
    position: absolute;
    top: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    text-align: center;
    @include media('<tablet-lg') {
        display: block;
    }
}

.navbar-holder {
    &-secondary {
        position: absolute;
        left: 0;
        top: 100px;
    }
}

.navbar {
    @extend %listreset;
    display: flex;
    align-items: flex-end;
    @include media('<tablet-lg') {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    &-item {
        position: relative;
        @include media('<tablet-lg') {
        }
        .nav-link {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 180%;
            color: #fff;

            text-align: right;
            text-transform: uppercase;
            @include media('<tablet-lg') {
                font-size: 40px;
            }
            @include media('<=phone-lg') {
                font-size: 32px;
            }
            &::before {
                @include pseudo;
                background: #000;
                height: 2px;
                width: 0;
                bottom: 0px;
                transition: width 0.25s;
            }
        }
        &:hover,
        &--active {
            .nav-link {
                &::before {
                    width: 100%;
                }
            }
        }
        &:hover {
            @include media('<tablet-lg') {
                .nav-link {
                    &::before {
                        display: none;
                    }
                }
            }
        }

        &:first-of-type {
            @include media('>=tablet-lg') {
                display: none;
            }
        }
    }
}

.menu-toggler {
    position: absolute;
    top: 30px;
    // right: 40px;
    right: -40px;
    padding: 14px 11px;
    background: #222;
    display: flex;
    flex-direction: column;
    outline: none;
    max-width: 40px;
    min-width: 40px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.13);
    opacity: 0;
    transition: all $header-animation-time ease;
    @include media('<desktop-intermediate') {
        right: 30px;
    }
    @include media('<tablet-lg') {
        top: 20px;
        display: block !important;
        opacity: 1;
    }
    @include media('<=phone-lg') {
        right: 20px;
    }
    span {
        width: 18px;
        height: 2px;
        background: #fff;
        display: block;
        &+span {
            margin-top: 3px;
        }
    }
}