<!DOCTYPE html>
<html lang="en">

    {{ partial "head.html" . }}

<body>
    <div id="wrapper" class="page-not-found">

        <header class="header">
            <div class="header-container">
                                
                <a href="{{ .Site.BaseURL | absLangURL }}" class="logo">
                    <img src="{{ .Site.Params.logo_icon | absURL }}" alt="logo-icon" class="logo-icon">
                    <img src="{{ .Site.Params.logo_text | absURL }}" alt="logo-text" class="logo-text">
                </a>

                <div class="navbar-holder">
                    <nav>
                        <ul class="navbar">

                            {{ range .Site.Menus.nav }}

                            <li class="navbar-item">
                                <a href="{{ .URL }}" class="nav-link">{{ .Name }}</a>
                            </li>
            
                            {{ end }}
                            
                        </ul>
                    </nav>
                    <span class="close-btn"><i class="icon-ic_close"></i></span>
                </div>
                
                <button class="menu-toggler">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                
            </div>
        </header>

        <main class="main">

            <section class="section-header">
                <div class="container">
                    <span class="caption caption--preline">404</span>
                    <h2 class="h2">{{ i18n "page_not_found" }}</h2>
                    <p class="descr">{{ i18n "404_text" }}</p>
                    <div class="action">
                        <a href="{{ .Site.BaseURL | absLangURL }}" class="button" data-text="{{ i18n "go_to_home_page" }}">
                            <span>{{ i18n "go_to_home_page" }}</span>
                        </a>
                        
                    </div>
                </div>
            </section>
                
        </main>

    </div>

    {{ partial "site-scripts.html" . }}

</body>

</html>