$button-color: #fff;
$button-background: #222;
$button-font-family: inherit;
$button-font-size: 14px;
$button-font-weight: normal;
$button-padding: 15px 50px 15px 21px;
$button-height: auto;
$button-color-hover: #222;
// $button-background-hover: #fff;
$button-cta-color: #222;
$button-cta-hover-color: #fff;
$button-cta-bg: #f7f7f7;
$button-cta-hover-bg: #222;
$button-color-focus: #222;
$button-background-focus: #ececec;
$button-color-active: #222;
$button-background-active: #ececec;
button,
input[type="button"],
.button {
    margin: 0;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    user-select: none;
    border-radius: 0;
    overflow: visible;
    font: inherit;
    text-transform: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: $button-padding;
    font-family: $button-font-family;
    font-size: $button-font-size;
    line-height: $button-height;
    text-decoration: none;
    background-color: $button-background;
    color: $button-color;
    min-width: 230px;
}

.contactBtn {
    text-align: left;
}

.button {
    overflow: hidden;
    letter-spacing: 1px;
    span {
        display: block;
        width: 100%;
        position: relative;
        transition: all 0.3s ease-in-out;
        text-transform: uppercase;
        font-weight: 500;
        &::after {
            content: "\e901";
            font-family: icomoon;
            position: absolute;
            top: 50%;
            right: -35px;
            transform: translateY(-50%);
            color: inherit;
        }
    }
    &::before {
        position: absolute;
        content: attr(data-text);
        text-transform: uppercase;
        text-align: left;
        font-weight: 500;
        top: 0;
        right: 100%;
        height: 100%;
        background-color: #f7f7f7;
        color: #222;
        transform-origin: right;
        transition: all .3s ease-in-out;
        width: 100%;
        padding: $button-padding;
        white-space: nowrap;
        overflow: hidden;
    }
    &::after {
        content: "\e901";
        font-family: icomoon;
        position: absolute;
        opacity: 0;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        transition: all 0.3s ease-in-out;
    }
    &.cta {
        color: $button-cta-color;
        background: $button-cta-bg;
        &::before {
            background-color: $button-cta-hover-bg;
        }
        &:hover {
            &::before {
                color: $button-cta-hover-color;
            }
        }
    }
    &.submit {
        span {
            &::after {
                content: '\e905';
            }
        }
    }
    &.vacancy-main-button {
        &:hover {
            &::before {
                background: #fff;
            }
        }
    }
}

.button:not(:disabled) {
    cursor: pointer
}

.button::-moz-focus-inner {
    border: 0;
    padding: 0
}

.button:hover {
    text-decoration: none;
    color: $button-color-hover;
    span {
        transform: translateX(10px);
        opacity: 0;
        @include media('<=tablet-sm') {
            opacity: 1;
            transform: none;
            color: #fff;
        }
        &::after {
            color: inherit;
        }
    }
    &::before {
        width: 100%;
        background: #f7f7f7;
        color: #222;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        opacity: 1;
        transition: all .3s ease-in-out;
        right: 0;
        @include media('<=tablet-sm') {
            display: none;
        }
    }
    &::after {
        opacity: 1;
        left: calc(100% - 29px);
        @include media('<=tablet-sm') {
            display: none;
            opacity: 0;
        }
    }
    &.cta {
        &:hover {
            color: $button-cta-hover-color;
            @include media('<=tablet-sm') {
                color: #000;
            }
            &::before {
                background-color: #333;
            }
            span {
                @include media('<=tablet-sm') {
                    color: #000;
                }
            }
        }
    }
    &.submit {
        &::after {
            content: '\e905';
        }
    }
}

.button:focus {
    outline: none;
}

.button:active,
.button.is-active {
    background: $button-background-active;
    color: $button-color-active;
}

.button:disabled {
    pointer-events: none;
    opacity: 0.45;
}