.s-carousel {
    margin-top: 100px;

    @include media('<=tablet-md') {
        margin-top: 70px;
    }

    .caption {
        margin-bottom: 30px;
    }
}

.slider-for {
    .slick-list {
        // max-height: 925px;
    }

    .slick-next,
    .slick-prev {
        position: absolute;
        top: 50%;
        right: 40px;
        width: 100px;
        min-width: 100px;
        height: 100px;
        background: rgba(0, 0, 0, .8);
        border-radius: 50%;
        background-position: center;
        z-index: 1;
        transition: background 0.8s;

        @include media('<=desktop-md') {
            min-width: 60px;
            width: 60px;
            height: 60px;
        }

        svg {
            @include media('<=desktop-md') {
                width: 12px;
                height: 20px;
            }
        }



        &:hover {
            background: rgba(0, 0, 0, 0.7) radial-gradient(circle, transparent 1%, rgba(0, 0, 0, 0.7) 1%) center/15000%;
        }

        &:active {
            background-color: rgba(0, 0, 0, 0.7);
            background-size: 100%;
            transition: background 0s;
        }

        &::before,
        &::after {
            display: none;
        }
    }

    .slick-prev {
        right: auto;
        left: 40px;

        svg {
            transform: rotate(180deg);
        }
    }

    .slick-slide {
        margin: 0 15px;
        

        picture {
            width: 1644px !important;
            position: relative;
            padding-bottom: 66%;
            height: 0;
            display: block;

            @include media('<=desktop-md') {
                width: 1129px !important;
            }

            @include media('<=tablet-md') {
                width: 570px !important;
                padding-bottom: 65.8%;
            }

            @include media('<=phone-lg') {
                margin: 0;
                width: 320px !important;
                padding-bottom: 62.5%;
            }

            img {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }


    }
}

.slider-nav {
    display: none;

    @include media('<=phone-lg') {
        display: block;
    }

    .slick-slide {
        >div {
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
            transition: 0.25s ease-in-out;

            @include media('<=phone-lg') {
                height: 50px;
            }

            >div {
                height: 50px;
            }

            img {
                margin: 0 auto;
                transition: 0.25s;
                height: 50px;
            }
        }

        &.slick-center {
            >div {
                border-left: 4px solid #fff;
                border-right: 4px solid #fff;
                transition: 0.25s ease-in-out;

                >div {
                    height: 40px;
                    margin: 5px 0;

                    img {
                        height: 100%;
                    }
                }
            }
        }
    }
}