{{ define "main" }}
<section class="section section-about">
    test abbout
    <div class="container">
        <h2 class="h2">{{ .Title }}</h2>
        <p class="description">{{ .Description }}</p>
        <ul class="about-list main-list">
            {{ range .Params.images}}
            <li>
                <img src="{{ .image }}" alt="">
            </li>
            {{ end }}
        </ul>
        <p class="description">{{ .Params.secondary_description }}</p>


        <h2 class="h2">{{ .Params.section_brands_title }}</h2>
 
        <ul class="brand-list">
            {{ range .Params.brands.brand_logo}}

            <li>
                
                 <img src="{{ .logo }}" alt="">
                
            </li>
            {{ end }}
        </ul>
    </div>
</section>

{{ end }}