{{ define "main" }}

<section class="s-page-title s-page-title-projects">
    <div class="container container--sm">
        <h2 class="h2">{{ .Title }}</h2>
    </div>
</section>




<section class="section section-project-list-item">
    <div class="container container--sm">
        <div class="section-main-row">



                <section>
                        <ul>
                          {{ range $taxonomyname, $taxonomy := $.Site.Taxonomies }}
                            <li><a href="{{ "/categories/" | relLangURL}}{{ $taxonomyname | urlize }}">{{ $taxonomyname }}</a>
                              <ul>
                                  {{.taxonomyname}}
                              </ul>
                            </li>
                          {{ end }}
                        </ul>
                      </section>

        </div>
    </div>
</section>



{{ end }}