{{ define "main" }}



  <section class="s-backpacks">
    <div class="container">

      <div class="section-title">
      {{ .Page.Title }}
      <div class="row">
        
        {{ range .Data.Pages }}
          <div class="row-item">

              <a href="{{ .Permalink }}" title="{{ .Title }}" class="media">
                <img src="{{ .Params.image }}" alt="{{ .Title }}">
              </a>
              <a href="{{ .Permalink }}" title="{{ .Title }}" class="title">
                <h3 class="h3 label">{{ .Title }}</h3>
                <h5 class="h5 price">{{ .Params.Price }}</h5>
              </a>

          </div>
        {{ end }}
        
      </div>
      
    </div>
  </section>

{{ end }}