<div id="modal-contact-us" class="modal-contact-us">
  <div class="modal-contact-us__inner">
    
    <div class="form-block">
      
      <div class="form-title">
        <h2 class="h2">{{ i18n "form_contact_us" }}</h2>
        <p>{{ i18n "contact_us_text" }}</p>
      </div>
      
      <form class="form-contacts" id="contact-form">
        
        {{ with .Site.Data.email_for_forms }}
          <input type="hidden" name="mailAdr" value="{{ .email_info }}">
          <input type="hidden" name="mailName" value="{{ .name_info }}">
        {{ end }}
        
        <div class="form-group input">
          <label for="contact_name_input">{{ i18n "form_contact_us_name" }}</label>
          <input type="text" id="contact_name_input" name="name" class="form-input required" placeholder="e.g. {{ i18n "form_name_filed_placeholder" }}">
        </div>
        
        <div class="form-group input">
          <label for="contact_email_input">{{ i18n "form_contact_us_email" }}</label>
          <input type="email" id ="contact_email_input" name="email" class="form-input required" placeholder="e.g. {{ i18n "form_email_filed_placeholder" }}">
        </div>
        
        <div class="form-group textarea">
          <label for="contact_letter_input">{{ i18n "form_message" }}</label>
          <textarea id="contact_letter_input" name="letter"></textarea>
        </div>
        
        <div class="form-group submit">
          <button class="button submit" data-text="{{ i18n "form_contat_submit" }}">
            <span>{{ i18n "form_contat_submit" }}</span>
          </button>
        </div>
        
      </form>
    </div>
  </div>
</div>