<div id="modal-apply-cv" class="modal-apply-cv">
  <div class="modal-apply-cv__inner">
    <div class="form-block">
      
      <div class="form-title">

        <h2 class="h2">{{ i18n "upload_cv" }}</h2>

        {{ if eq .Section "cv_upload" }}
          <p>Our company is rapidly growing, so the search for qualified experts never stops. We consider all the CVs we receive without exception. We are awaiting yours as well:</p>
        {{ end }}

        {{ if eq .Section "vacancies" }}
          <p>You are about to apply for the <strong> {{ .Title }} </strong> position. After sending, our recruiter will contact you as soon as possible.</p>
        {{ end }}

      </div>
      
      <form class="form-cv-upload" id="applyCV">
        
        {{ with .Site.Data.email_for_forms }}
          <input type="hidden" name="mailAdr" value="{{ .email_hr }}">
          <input type="hidden" name="mailName" value="{{ .name_hr }}">
        {{ end }}
        
        <div class="form-group input">
          <label for="cv_form_name">{{ i18n "form_name_filed" }}</label>
          <input type="text" id="cv_form_name" name="name" class="required form-input" placeholder="e.g. John Doe" required>
        </div>

        <div class="form-group input">
          <label for="cv_form_email">{{ i18n "form_email_filed" }}</label>
          <input type="email" id="cv_form_email" name="email" class="required form-input" placeholder="e.g. jdoe@gmail.com" required>
        </div>
        
        <div class="form-group input">
          <label for="cv_form_phone">{{ i18n "form_phone_filed" }}</label>
          <input type="text" id="cv_form_phone" name="phone" class="form-input" placeholder="e.g. (000) 000 00 00">
        </div>
        
        {{ if eq .Section "cv_upload" }}
        <div class="form-group input select">
          <label for="cv_form_position">{{ i18n "form_position" }}</label>
          <input type="text" id="cv_form_position" name="position" class="form-input" placeholder="e.g. Backend developer">
        </div>
        {{ end }}
                
        {{ if eq .Section "vacancies" }}
          <div class="form-group input linkedin">
            <label for="cv_form_linkedin">LinkedIn</label>
            <input type="text" id="cv_form_linkedin" name="linkedin" class="form-input" placeholder="Link to your profile">
          </div>
        {{ end }}

        <div class="form-group textarea">
          <label for="cv_form_letter">{{ i18n "form_cover_letter" }}</label>
          <textarea name="letter" id="cv_form_letter" placeholder="{{ i18n "form_cover_letter_placeholder" }}"></textarea>
        </div>
        
        <div class="form-group upload">
          <label for="file" id="q">{{ i18n "form_attach_cv" }}</label>
          <input type="file" id="file" name="cv" accept="image/*,.doc,.docx,.pdf" required>
          <span class="clear-btn"><i class="icon-ic_delete"></i></span>
        </div>
        
        <div class="form-group submit">
          <button type="submit" class="button submit" data-text="{{ i18n "form_submit" }}">
            <span>{{ i18n "form_submit" }}</span>
          </button>
        </div>
        
      </form>
    </div>
    
  </div>
</div>