{{ define "main" }}
<section class="section section-about">
    <div class="container">
        <h2 class="h2">{{ .Title }}</h2>
        <p class="description">{{ .Description }}</p>
        <ul>
            {{.}}
            {{ range .Site.Params.delivery_options }}
                <li>
                    <div class="title"> {{ .delivery_name }}</div>
                    <div class="descr">{{ .delivery_description }}</div>
                </li>
            {{ end }}
        </ul>
        
    </div>
</section>

{{ end }}