.s-map {
    margin: 100px auto 140px;

    @include media('<=tablet-md') {
        margin-top: 80px;
    }
}

#map {
    width: 100%;
    height: 727px;
    @include media('<=desktop-md') {
        height: 500px;
    }

    @include media('<=phone-lg') {
        height: 300px;
    }


}

.mapboxgl-ctrl-zoom-in,
.mapboxgl-ctrl-zoom-out {
    background-repeat: no-repeat;
}

.mapboxgl-ctrl-compass {
    display: none !important;
}

.mapboxgl-ctrl-group>button {
    min-width: auto;
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
    display: none !important;
}