<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5JQQBLL"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="preloader">
        <div class="loader"></div>
        <div class="preloader__logo">
            <img src="/images/icons/logo-icon.svg" alt="">
        </div>
    </div>

    <div id="wrapper">

        {{ block "header" . }}{{ partial "header.html" . }}{{ end }}

        <main class="main">
            {{ block "main" .}}{{ end }}
        </main>

        {{ block "footer" . }}{{ partial "footer.html" . }}{{ end }}

    </div>

    {{ block "scripts" . }}{{ partial "site-scripts.html" . }}{{ end }}

    {{ if or (eq .Section "office") (eq .Section "contacts") }}
        <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoiZGFuaWlsYWxla3NpZWlldiIsImEiOiJjanN1ZnBjeXQwM2Q5NDlscm9qYmJ0aXk3In0.9MCeTgaA0njldbkIDA-pEg';
            var map = new mapboxgl.Map({
                container: 'map',
                zoom: '13',
                center: [36.253412, 50.0057559],
                style: 'mapbox://styles/mapbox/light-v9'
            });
            var PIN_IMAGE = 'https://cdn4.iconfinder.com/data/icons/geomicons/32/672403-pin-128.png';
            
            map.on('styledata', function() {
                this.loadImage(PIN_IMAGE, function (error, image) {
                
                    map.addImage('pin', image);
                
                });
                this.addLayer({
                    id: 'points',
                    type: 'symbol',
                    source: {
                        type: 'geojson',
                        data: {
                            type: 'FeatureCollection',
                            features: [{
                                type: 'Feature',
                                geometry: {
                                    type: 'Point',
                                    coordinates: [36.25375, 50.00565]
                                },
                                properties: {
                                    title: 'Mapbox DC',
                                    'marker-symbol': 'monument'
                                }
                            }]
                        }
                    },
                    layout: {
                        'icon-image': 'pin',
                        'icon-size': 0.25
                    }
                });
            });
            map.addControl(new mapboxgl.NavigationControl());
        </script>
    {{ end }}

</body>
</html>