<header class="header">
    <div class="header-container">
        <a href="{{ .Site.Params.mainUrl | absURL }}" class="logo">
            <img src="{{ .Site.Params.logo_icon | absURL }}" alt="logo-icon" class="logo-icon">
            <img src="{{ .Site.Params.logo_text | absURL }}" alt="logo-text" class="logo-text">
        </a>
        <div class="navbar-holder">
            <nav>
                <ul class="navbar">
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                    <li class="navbar-item {{ if $currentPage.IsMenuCurrent "main" . }}navbar-item--active{{ end }}">
                        <a href="{{ .URL }}" class="nav-link">{{ .Name }}</a>
                    </li>
                    {{ end }}
                </ul>
            </nav>
            <span class="close-btn"><i class="icon-ic_close"></i></span>
        </div>
        <div class="navbar-holder-secondary">
            <nav>
                <ul class="navbar-secondary">
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.aside }}
                    <li class="navbar-item {{ if $currentPage.IsMenuCurrent "aside" . }}navbar-item--active{{ end }}">
                        <a href="{{ .URL }}" class="nav-link">{{ .Name }}</a>
                    </li>
                    {{ end }}
                </ul>
            </nav>
            <span class="close-btn"><i class="icon-ic_close"></i></span>
        </div>
        <button class="menu-toggler" aria-label="mobile toggle">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>