<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Params.page_title }}</title>
    <meta name="author" content="two-brothers">
    <meta name="keyword" content="keywords">
    <meta name="description" content="description">



    {{ $cssVendor := resources.Get "css/vendor.min.css" }}
    {{ $style := resources.Get "css/style.min.css" }}
    
    {{ $css := slice $cssVendor $style | resources.Concat "assets/css/styles.css" | resources.Minify }}

    <link rel="stylesheet" href="{{ $css.Permalink }}">
    
</head>