<header class="header">
    <div class="header-container">
        <div class="navbar-holder">
            <nav>
                <ul class="navbar">
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                    <li class="navbar-item {{ if $currentPage.IsMenuCurrent "main" . }}navbar-item--active{{ end }}">
                        <a href="{{ .URL }}" class="nav-link">{{ .Name }}</a>
                    </li>
                    {{ end }}
                </ul>
            </nav>
            <span class="close-btn"><i class="icon-ic_close"></i></span>
        </div>
        <div class="navbar-holder-secondary">
            <a href="{{ .Site.Params.mainUrl | absURL }}" class="logo">
                <img src="/images/logo.svg" alt="logo-icon" class="logo-icon home">
                <img src="/images/logo-black.svg" alt="logo-icon" class="logo-icon another-pages">
            </a>
            <nav>
                <ul class="navbar-secondary">
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.aside }}
                    <li class="navbar-item {{ if $currentPage.IsMenuCurrent "aside" . }}navbar-item--active{{ end }}">
                        <a href="{{ .URL }}" class="nav-link">{{ .Name }}</a>
                    </li>
                    {{ end }}
                </ul>
            </nav>
            <span class="close-btn"><i class="icon-ic_close"></i></span>
        </div>
        
    </div>
    <a href="/" class="logo-mobile"><img src="/images/logo-mob.png" alt=""></a>
    <button class="menu-toggler" aria-label="mobile toggle">
            <span></span>
            <span></span>
            <span></span>
        </button>
</header>