.section {
  &-main {
    height: 100vh;
    width: 100%;
  }
  &-main-row {
    position: relative;
    height: 100vh;
    width: 100%;

    .section-info {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 1;
      text-align: center;
      margin-top: -32px;

      .h1 {
        font-family: map-get($fonts, "base-serif");
        font-style: normal;
        font-weight: 200;
        font-size: 96px;
        line-height: 1.3;
        text-align: center;
        color: #fff;
        margin-bottom: 10px;
      }

      .subtitle {
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        letter-spacing: 9px;
        text-transform: uppercase;
        color: #ffffff;
      }
    }

    .arrow-anchor {
      position: absolute;
      bottom: 150px;
      left: 50%;
      transform: translate(0, -50%);
      z-index: 1;
      .arrow-down {
        background-color: transparent;
        padding: 0;
        min-width: auto;
        border: none;
      }
    }

    .section-media {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat;
    }
  }

  &-main-categories {
    display: flex;
    height: 100vh;
    width: 100%;

    .item {
      width: 33.33%;
      // padding-bottom: 100%;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.3);
        transition: opacity 0.25s;
        cursor: pointer;
      }

      &:hover {
        &:after {
          opacity: 0;
        }
        .label {
            opacity: 1;
        }
      }

      .label {
        position: absolute;
        top: 50%;
        left: 50%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 1.3;
        text-transform: uppercase;
        opacity: 0;
        transition: 0.25s;
        text-align: center;
        color: #ffffff;
        transform: translate(-50%, -50%);
      }

      img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &-about {
    .h2 {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 200;
      font-size: 48px;
      line-height: 180%;
      color: #808080;
    }

    p {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 140%;
      color: #808080;
      margin: 10px 0;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;

      &.main-list {
        justify-content: space-between;
        li {
          width: 30%;
        }
      }
    }
  }
}
