{{ define "main" }}
{{ $projects := .Site.GetPage "/goods" }}
<section class="section section-main">
    {{ with .Params.main_section }}
    <div class="section-main-row">
        <div class="section-info">
            <div class="container">
                <div class="section-copy">
                    <h2 class="h2">{{ .title }}</h2>
                    <p class="descr">{{ .description }}</p>
                </div>
            </div>
        </div>
        <div class="section-media" style="background-image: url('{{ .main_section_background }}')"></div>
    </div>
    {{ end }}
</section>
{{end}}