{{ define "main" }}

    <section class="s-page-title s-page-title-vacancies">
        <div class="container container--sm">
            <h2 class="h2">{{ .Title }}</h2>
            <p class="description">{{ .Description }}</p>
        </div>
    </section>

    <section class="section section-vacancies-main">
        <div class="container container--sm">
            <div class="section-header">
                <h2 class="h2">{{ i18n "vacancies"}}</h2>
            </div>

            {{ $vacancies := .Data.Pages.GroupByParam "departament" }}
            {{ $vacancyCount := len $vacancies }}
            
            {{ if gt $vacancyCount 0 }}

                <div class="tabs-box">
                    
                    {{ $tab_first := true }}

                    <ul class="tabs">
                        
                        {{ range $vacancies }}
                        
                            <span class="caption">{{ .Key }}</span>

                            {{ range .Pages }}

                                <li class="{{ if eq $tab_first true }}active{{ end }} card-vacancy card-vacancy-action" rel="tab-{{ anchorize .Title }}">
                                    {{ .Title }}
                                </li>
                                
                                {{ if eq $tab_first true }}{{ $tab_first = false }}{{ end }}

                            {{ end }}
                            
                        {{ end }}
    
                    </ul>
                    
                    {{ $first := true }}

                    <div class="tab_container">
                        
                        {{ range $vacancies }}

                            <span class="caption">{{ .Key }}</span>

                            {{ range .Pages }}

                                <h5 class="tab_accordion {{ if eq $first true }}d_active{{ end }}" rel="tab-{{ anchorize .Title }}">{{ .Title }}</h5>
                                <div id="tab-{{ anchorize .Title }}" class="tab_content" {{ if eq $first false }} style="display: none;" {{ end }} >
                                    <h3 class="h3 vacancy-title" data-title="{{ .Title }}">{{ .Title }}</h3>
                                    <span class="city">{{ .Params.location }}</span>
                                
                                        {{ .Content }}
                                
                                    <div class="action">
                                        <a href="{{ .Permalink }}" class="button" data-text="{{ i18n "apply_for_position" }}">
                                            <span>{{ i18n "apply_for_position" }}</span>
                                        </a>
                                    </div>
                                </div>
                                
                                {{ if eq $first true }}{{ $first = false }}{{ end }}

                            {{ end }}

                        {{ end }}

                    </div>
                </div>

            {{ else }}
                
                <div style="padding-top: 40px;">
                    <div class="tab_container">
                        <span>{{ i18n "no_open_vacancies" }}</span>
                        <div style="padding-top: 40px;">
                            <a href="javascript:void(0)" class="button cv">
                                <span>{{ i18n "apply_cv" }}</span>
                            </a>
                        </div>
                    </div>
                </div>
        
            {{ end }}

        </div>
    </section>
    
    {{ partial "components/we-offer.html" . }}

{{ end }}