{{ define "main" }}

    <section class="s-page-title">
        <div class="container container--sm">
            <h2 class="h2">{{ .Title }}</h2>
            <p class="description">{{ .Description }}</p>
        </div>
    </section>

    <section class="section section-single-project">
        <div class="container container--sm">
            <div class="section-banner">

                    <picture>

                        {{ range .Params.banner_images }}
                            <source data-srcset="{{ .no_retina_image}} 1x, {{ .retina_image }} 2x" media="(min-width: {{ .size }})" />
                        {{ end }}

                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                            data-src="{{ .Params.default_mobile_banner_image }}" class="card-bg lazyload"
                            alt="project image" />

                    </picture>

            </div>
            <div class="section-project-info">
                <div class="info-box">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </section>

    <section class="section section-project-slider">
        <div class="container">
            <div class="project-slider">

                {{ range .Params.project_slider_images}}

                    {{ range .slide }}
                    <div class="item">
                        <div class="card-project">

                            <picture>


                                    {{ range .slide_content }}
                                        <source data-srcset="{{ .no_retina_image}} 1x, {{ .retina_image }} 2x" media="(min-width: {{ .size }})" />
                                    {{ end }}
                                    
                                    
                                    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    data-src="{{ .default_mobile_slide_image }}" class="card-bg lazyload"
                                    alt="project slider image" />
                                    
                                    
                                </picture>
                                
                            </div>
                        </div>
                        
                    {{ end }}
                {{ end }}

            </div>
        </div>
    </section>
    
    <!-- {{ partial "components/other-posts.html" . }} -->

{{ end }}