{{ $data := index .Site.Data .Site.Language.Lang }}

<section class="section section-we-offer">
    <div class="container container--sm">
        <div class="section-header">
            <h2 class="h2">{{ $data.weoffer.title }}</h2>
        </div>
        <div class="section-body">

            {{ range $data.weoffer.items }}

                <div class="card-offer">
                    <div class="card-media">
                        <picture>

                            {{ range .images }}
                              <source data-srcset="{{ .no_retina_image}} 1x, {{ .retina_image }} 2x" media="(min-width: {{ .size }})" />
                            {{end}}
                
                            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                              data-src="{{ .default_mobile_image }}" class="card-bg lazyload"
                              alt="we offer image" />
                
                          </picture>
                    </div>
                    <div class="card-copy">
                        <h5 class="h5"><strong>{{ .title }}</strong></h5>
                        <p class="descr">{{ .description }}</p>
                    </div>
                </div>

            {{ end }}
            
        </div>
    </div>
</section>