<section class="section section-other-projects">
    <div class="container">
        <div class="section-header">
            <h2 class="h2">{{ i18n "other_projects" }}</h2>
        </div>
        <div class="section-body">

            {{ $projects := .Site.GetPage "/projects" }}

            {{ range first 2 ( shuffle (where $projects.Data.Pages ".Permalink" "!=" .Permalink) ) }}
            
                <div class="section-item">
                    <a href="{{ .Permalink }}" class="card-main">
                        <div class="card-media">

                            {{ with .Params.preview_image }}
                                <img data-src="{{ . | absURL }}" alt="project image" class="card-bg lazyload">                            
                            {{ end }}

                        </div>
                        <div class="card-copy">
                            <span class="caption">{{ .Params.caption }}</span>
                            <h2 class="h2">{{ .Title }}</h2>
                        </div>
                    </a>
                </div>

            {{ end }}

        </div>
    </div>
</section>