.list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    //dotted list
    &-dotted {
        list-style-type: disc;
        padding-left: 18px;
        font-size: 15px;
        @include media('<=desktop-md') {
            padding-left: 10px;
        }

        li {
            display: block;
            width: 100%;

            & + li {
                margin-top: 7px;
            }
        }
    }
    //end dotted list

    //list main projects
    &-main-projects {
        margin: 0 -15px -15px;
        @include media('<=tablet-sm') {
            margin: -15px;
        }

        li {
            width: 50%;
            padding: 0 15px;
            margin: 15px 0;
            @include media('<=tablet-sm') {
                width: 100%;
            }
            @include media('<=phone-lg') {
                width: 100%;
            }

            &:not(:first-of-type) {
                margin: 10px 0;
                @include media('<=tablet-sm') {
                    margin: 15px 0;
                }
                @include media('<=phone-lg') {
                    margin: 10px 0;
                }
                
            }
        }

        .card-main {
            .card-media {
                padding-bottom: 69%;
                @include media('<=tablet-sm') {
                    padding-bottom: 69.4%;
                }
            }

            .card-copy {
                padding: 30px;
                @include media('<=phone-lg') {
                    padding: 20px;
                }
                
            }
        }
    }
    //end list main projects

    //list vacancies
    &-vacancies {
        > li {
            flex-grow: 1;
            width: 100%;
            & + li {
                margin-top: 20px;
            }
        }

        & + .action {
            display: flex;
            justify-content: flex-end;
            margin-top: 40px;
            @include media('<=desktop-md') {
                margin-top: 33px;
            }
            @include media('<=tablet-sm') {
                justify-content: flex-start;
                margin-top: 40px;
            }
            @include media('<=phone-lg') {
                margin-top: 30px;
            }
        }
    }
    //end list vacancies

    //list lang switch
    &-lang-switch {
        display: block;
        li {
            display: inline-block;
            vertical-align: sub;
            a{
                padding: 10px 6px;
                font-size: 14px;
                letter-spacing: 1px;
                text-transform: uppercase;
                &:hover {
                    color: darken(#222, 20%);
                    text-decoration: underline;
                }
            }
            & + li {
                &::before {
                    content:'';
                    display: inline-block;
                    width: 1px;
                    height: 10px;
                    background: #000;
                }
            }
        }
    }
    //end list lang switch

    //list social
    &-social {
        align-items: center;
        margin-right: -11px;
        
        li {
            a {
                display: block;
                span {
                    display: block;
                    font-size: 20px;
                    padding: 5px 17px;
                    transition: 0.25s;
                }

                &:hover {
                    .icon-ic_social_medium {
                        color: #03a87c;
                    }

                    .icon-ic_social_linkedin {
                        color: #0077B5;
                    }

                    .icon-ic_social_facebook {
                        color: #3b5998
                    }

                    .icon-ic_social_twitter {
                        color: #1da1f2;
                    }
                }
            }
        }
    }
    //end list social

    //list services
    &-services {
        flex-direction: column;

        li {
            & + li {
                margin-top: 6px;
            }
        }
    }
    //end list services

    //list contacts
    &-contacts {
        list-style: none;
        padding: 0;
        margin: 0 0 40px;
        li {
            & + li {
                margin-top: 10px;
            }
        }
        a {
            span {
                margin-right: 10px;
                width: 24px;height: 24px;
                display: inline-block;
                text-align: center;
            }

            &.mail {
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    //end list contacts
}