/** Proxima Nova **/

@font-face {
    font-family: 'proxima_nova_altblack';
    src: url('../../../../fonts/ProximaNovaAltBlack-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_altbold';
    src: url('../../../../fonts/ProximaNovaAltBold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../../../fonts/ProximaNovaAltRegular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_scosfthin';
    src: url('../../../../fonts/ProximaNovaScOsfThin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('../../../../fonts/ProximaNovaSemibold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_ltthin';
    src: url('../../../../fonts/ProximaNovaThin-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'icomoon';
    src:  url('../../../../fonts/icomoon/fonts/icomoon.eot?5c1xev');
    src:  url('../../../../fonts/icomoon/fonts/icomoon.eot?5c1xev#iefix') format('embedded-opentype'),
      url('../../../../fonts/icomoon/fonts/icomoon.ttf?5c1xev') format('truetype'),
      url('../../../../fonts/icomoon/fonts/icomoon.woff?5c1xev') format('woff'),
      url('../../../../fonts/icomoon/fonts/icomoon.svg?5c1xev#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
