.s-page-title {
    padding: 37px 0 26px;
    @include media('<=phone-lg') {
        padding: 17px 0 26px;
    }

    .h2 {
        text-transform: none;
        margin-bottom: 14px;
    }

    .description {
        max-width: 820px;
        @include media('<=desktop-md') {
            max-width: 560px;
        }
    }

    &-vacancies {
        margin-bottom: 15px;

        .description {
            max-width: 980px;
            margin-bottom: 0;
            @include media('<=desktop-md') {
                max-width: 660px;
            }
        }
    }

    &-projects {
        .description {
            width: 62%;
            @include media('<=desktop-md') {
                width: 59%;
            }
            @include media('<=tablet-lg') {
                width: 50%;
            }
            @include media('<=tablet-sm') {
                width: 100%;
                max-width: 100%;
            }
        }
    }
}