{{ define "main" }}



  <section class="s-backpacks">
    <div class="container">

      <div class="section-title">


        {{ if eq .Section "backpacks" }}
        {{ . }}
          <!-- Title for other pages -->
          <h2 class="h2">{{ .Title }}</h2>
        {{ end }}
        
      </div>
      
      <div class="row">
        
        {{ range .Data.Pages }}
          <div class="item">
            <div class="blog__post">
              <a href="{{ .Permalink }}" class="media">
                <img src="{{ .Params.image }}" alt="{{ .Title }}">
              </a>
              <a href="{{ .Permalink }}" class="blog__post--info">
                <h3 class="h3">{{ .Title }}</h3>
              </a>
              <div class="blog__post--meta">
                {{ with .Params.Category }}
                  <a href="/category{{ . | urlize | relURL }}" title="Category: {{ . }}" class="category"> {{ . }}</a>
                {{ end }}
                <time>{{ dateFormat "January 2, 2006" .Date }}</time>
              </div>
            </div>
          </div>
        {{ end }}
        
      </div>
      
    </div>
  </section>

{{ end }}