{{ define "main" }}

  <section class="s-backpacks">
    <div class="container">

      <div class="section-title">
        <h2 class="h2">{{ .Title }}</h2>
        <a href="/category/" class="back-to-blog"><i class="icon-arrow-back"></i> Back to all backpacks</a>
      </div>

      <article class="single-post">

        <div class="single-post__image">
          <img src="{{ .Params.Image }}" alt="{{ .Title }}">
        </div>

        <div class="single-post__content">
          {{ .Params.title }}
          {{ .Params.price }}
          {{ .Params.category }}
          {{ .Params.Description_block}}
          <ul>
            {{/*  {{ range .Params.description_block}}  */}}

            {{.Params.description_block}}
            {{.}}
                <li>
                  {{/*  <h4 class="h4 title"> {{ .title }} </h4>  */}}
                  {{/*  <span class="descr"> {{ .description }} </span>  */}}
                </li>
            {{/*  {{end}}  */}}
          </ul>
        </div>

      </article>
      
    </div>
  </section>

{{ end }}