{{ define "main" }}

<section class="s-backpacks">
  <div class="container">

    <article class="single-post">

      <div class="single-post__image">
        <img src="{{ .Params.Image }}" alt="{{ .Title }}">
      </div>

      <div class="single-post__content">
        <h4 class="h4 title"> {{ .Params.title }}</h4>
        <span class="price">{{ .Params.price }}</span>
        <button class="btn buy">заказать</button>
        <p class="delivery-descr">Доставка данного товара займет не более 2 дней с момента оформления заказа,
          успейте оформить заказ сегодня до 20:00 и уже завтра курьер доставит вашу посылку!</p>

        <div class="descr-block accordion-container">
          {{ range $index, $element := .Params.Description_block }}
          <div class="item set">
            <h5 class="h5 title-sm {{ if (eq $index 0) }}active{{ end }}">{{.title}} <i class="fa fa-plus"></i></h5>
            <div class="descr-sm content">
              {{.description}}
            </div>
          </div>
          {{ end }}
        </div>
      </div>

  </div>

  </article>

  </div>
</section>

{{ end }}